
<form id="static-form" action="/register" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required>
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" name="password" placeholder="" value="{{password}}" required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" name="name" placeholder="" value="{{name}}" required>
  </div>
  <div class="form-group">
    <label for="diet">Diet</label>
    <input type="diet" class="form-control" id="diet" name="diet" placeholder="" value="{{diet}}" optional>
  </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit Registration</button>
  </div>
</form>
