<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Spoiler Alert!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="items"><a href="/items">My Items</a></li>
                <li id="products"><a href="/products">All Products</a></li>
            </ul>
             {{!--login inline navbar --}}
             {{!--<form class="navbar-form navbar-right" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign In</button>
            </form>--}}
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>