<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spoiler Alert</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>

<body>
    <main class="container">
        <ul class="productList">
            {{#each this}} {{#if product_name}}
            <li>
                <div class="productContainer">
                    <h1>{{product_name}}</h1>
                    <img src="{{product_picture}}" />
                    <p>UPC: {{_id}}</p>
                </div>
            </li>
            {{/if}} {{/each}}
        </ul>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>