<div id="user_profile">
    <p>Name: {{profile.name}}</p>
    <p>Email Address: {{profile.email}}</p>
    <p>Diet: {{profile.diet}}</p>
</div>
    <form id="logout-form" action="/logout" method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-logout">Logout</button>
        </div>
    </form>